body {
    color: #A64AC9;
    background-color: black;
}

h2 {
    color: #A64AC9;
}

.img-250 {
    width: 250px;
    height: 250px;
    margin: 0px;
    padding: 10px;
}


/*The margin being set to 20px allows for the amount of space I declared to be set around the element. The padding allows for 20px between the element and the content itself.*/

#container {
    background-color: white;
    color: black;
    width: 50%;
    margin: 20px auto 0px auto;
    padding: 20px 20px 20px 20px;
    font-family: Asap, sans-serif;
}

.right-col {
    float: right;
    padding: 20px;
}

.left-col {
    float: none;
    padding: 20px;
}

.clearfix {
    clear: both;
}

a {
    color: #A64AC9;
}

#GitHub {
    border: solid;
    border-radius: 200px;
    padding: 10px;
    border-width: thin;
    color: #A64AC9;
    display: inline-block;
    margin: 0px 0px 40px 0px;
    text-decoration: none;
}